absl-py==1.0.0
apparmor==3.0.4
appdirs==1.4.4
application-utility==1.3.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
astroid==2.9.3
astronomia==1.2.4
asttokens==2.0.5
astunparse==1.6.3
attrs==21.4.0
autopep8==1.6.0
backcall==0.2.0
beautifulsoup4==4.10.0
bleach==4.1.0
Brotli==1.0.9
btrfsutil==5.16.2
build==0.7.0
cachetools==5.0.0
caffeine-ng==3.5.1.post71+g77611ac
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
chrome-gnome-shell==0.0.0
cleverhans==4.0.0
click==8.1.2
cloudpickle==2.0.0
comtypes==1.1.11
configobj==5.1.0.dev0
cycler==0.11.0
dash==2.3.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
dateparser==1.1.1
deap==1.3.1
debugpy==1.5.1
decorator==5.1.1
defusedxml==0.7.1
dill==0.3.4
discid==1.2.0
distro==1.7.0
dm-tree==0.1.7
dnspython==2.2.0
docutils==0.18.1
easydict==1.9
entrypoints==0.4
et-xmlfile==1.1.0
ewmh==0.1.6
executing==0.8.3
fasteners==0.16.3
filelock==3.4.2
Flask==2.1.1
Flask-Compress==1.11
Flask-MySQL==1.5.2
flatbuffers==2.0
fonttools==4.30.0
future-typing==0.4.1
gast==0.5.3
GNOME-App-Folders-Manager==0.4.3
google-auth==2.6.2
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.56.0
graphviz==0.20
greenlet==1.1.2
grpcio==1.44.0
gufw==22.4.0
gym==0.23.1
gym-notices==0.0.6
h5py==3.6.0
HydroErr==1.24
idna==3.3
importlib-metadata==4.8.1
inflection==0.5.1
ipykernel==6.9.2
ipython==8.1.1
ipython-genutils==0.2.0
ipywidgets==7.6.5
isort==5.10.1
itsdangerous==2.1.2
jedi==0.18.1
Jinja2==3.0.3
joblib==1.1.0
jsonschema==4.4.0
jupyter==1.0.0
jupyter-client==7.1.2
jupyter-console==6.4.3
jupyter-core==4.9.2
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.2
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.0
layoutswitcherlib==0.8.24
lazy-object-proxy==1.7.1
LibAppArmor==3.0.4
libclang==13.0.0
libfdt==1.6.1
lit==13.0.1.dev0
louis==3.21.0
mando==0.7.1
manjaro-sdk==0.1
Markdown==3.3.6
MarkupSafe==2.1.0
matplotlib==3.5.1
matplotlib-inline==0.1.3
mc-bin-client==1.0.1
mccabe==0.6.1
mistune==0.8.4
mnist==0.2.2
more-itertools==8.10.0
mutagen==1.45.1
nbclient==0.5.13
nbconvert==6.4.4
nbformat==5.2.0
neat-python==0.92
nest-asyncio==1.5.4
netsnmp-python==1.0a1
nose==1.3.7
notebook==6.4.9
npyscreen==4.10.5
numpy==1.22.3
oauthlib==3.2.0
openpyxl==3.0.9
opt-einsum==3.3.0
ordered-set==4.0.2
packaging==21.3
pacman-mirrors==4.23.2
pandas==1.4.1
pandocfilters==1.5.0
parso==0.8.3
patsy==0.5.2
pendulum==2.1.2
pep517==0.12.0
pexpect==4.8.0
picard==2.7.3
pickleshare==0.7.5
Pillow==9.1.0
Pint==0.19.2
Pint-Pandas==0.2
platformdirs==2.5.1
plotly==5.7.0
plottoolbox==101.5.0
prometheus-client==0.13.1
promise==2.3
prompt-toolkit==3.0.28
protobuf==3.19.4
psutil==5.9.0
ptyprocess==0.7.0
pulsectl==22.3.2
pure-eval==0.2.2
pwquality==1.4.4
pyaf==3.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.21.0
pycodestyle==2.8.0
pycparser==2.21
pydot==1.4.2
pygame==2.1.2
Pygments==2.11.2
PyGObject==3.42.0
PyJWT==2.2.0
pylint==2.12.2
PyMySQL==1.0.2
pyparsing==3.0.7
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyrsistent==0.18.1
PySide6==6.2.4
pysmbc==1.0.23
python-dateutil==2.8.2
python-xlib==0.31
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pytzdata==2020.1
pyxdg==0.27
PyYAML==6.0
pyzmq==22.3.0
qtconsole==5.2.2
QtPy==2.0.1
ranger-fm==1.9.3
regex==2022.3.2
reportlab==3.6.9
requests==2.27.1
requests-file==1.5.1
requests-oauthlib==1.3.1
rsa==4.8
rst2ansi==0.1.5
scikit-learn==1.0.2
scipy==1.8.0
Send2Trash==1.8.0
setproctitle==1.2.2
shiboken6==6.2.4
six==1.16.0
sklearn==0.0
soundconverter==4.0.3
soupsieve==2.3.1
SQLAlchemy==1.4.36
stack-data==0.2.0
statsmodels==0.13.2
systemd-python==234
tabulate==0.8.9
tap.py==3.1
tappy==0.9.4
team==1.0
tenacity==8.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-datasets==4.5.2
tensorflow-gpu==2.8.0
tensorflow-io-gcs-filesystem==0.24.0
tensorflow-metadata==1.7.0
tensorflow-probability==0.16.0
termcolor==1.1.0
terminado==0.13.3
testpath==0.6.0
tf-estimator-nightly==2.8.0.dev2021122109
threadpoolctl==3.1.0
tldextract==3.2.0
toml==0.10.2
tomli==2.0.1
tornado==6.1
tqdm==4.64.0
traitlets==5.1.1
tstoolbox==103.18.0
typical==2.8.0
typing_extensions==4.1.1
tzdata==2022.1
tzlocal==4.2
ufw==0.36.1
urllib3==1.26.9
validate==5.1.0.dev0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.1.0
widgetsnbextension==3.5.2
wrapt==1.13.3
xlrd==2.0.1
XlsxWriter==3.0.3
youtube-dl==2021.12.17
zipp==3.7.0
